.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    margin-top: 24px;
}


.leftSide img {
    width: 100%;
    border-radius: 8px;
}

.rightSide p {
    text-align: justify;
    font-weight: 300;
    font-size: 16px;
}
