@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');

/* header starts from here */
.header {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 25px 0px;
}

.logo-title {
    font-family: "Praise", cursive;
    font-weight: 400;
    color: #F72D57;
    font-size: 48px;
}

nav {
    display: flex;
    align-items: center;
    gap: 35px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 35px;
}

nav ul li a {
    text-decoration: none;
    color: #3F3F3F;
}

nav ul li a:hover {
    border-bottom: 3px solid #F72D57;
    color: #F72D57;
}

.nav-active {
    border-bottom: 3px solid #F72D57;
    color: #F72D57;
}

.cart-icon {
    font-size: 35px;
    padding: 0;
}


.btn {
    padding: 10px 15px;
    background: #F72D57;
    color: #FFF;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    scale: calc(1.1);
}

/* header ends here */