.container {
  max-width: 1240px;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.commonHeading {
  font-size: 48px;
  font-weight: 600;
  margin-top: 70px;
}

.banner-curveBg {
  width: 100%;
  position: absolute;
  clip-path: circle(100%);
  right: 0;
  left: 0;
  top: 200px;
  height: 70vh;
  border-radius: 50%;
  box-shadow: 0px 20px 50px rgba(231, 49, 134, 0.164);
}

.btn {
  padding: 10px 30px;
  background: #F72D57;
  color: #FFF;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 400;
  font-size: 16px;
}

.btn:hover {
  scale: calc(1.1);
}
