.banner-title {
    font-size: 48px;
    font-weight: 700;
}

.banner-desc {
    margin-top: 25px;
}

.banner-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    position: relative;
}


.banner-left {
    max-width: 45%;
}

.banner-right {
    max-width: 55%;
    overflow: hidden;
}

.banner-right .top-image {
    rotate: 60deg;
    width: 100%;
}

.bottom-image {
    z-index: -1;
    position: absolute;
    rotate: 240deg;
    width: 40%;
    right: 150px;
    top: 35%;
}